.dashbordContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dashbordList {
    margin-bottom: 100px;
    display: flex;
    gap: 29px;
    flex-wrap: wrap;
    justify-content: center;
}

.loadMoreBtn {
    margin-bottom: 70px;
    background-color: transparent;
    border-color: transparent;
    font-family: map-get($fonts, m), sans-serif;
    font-size: 16px;
    line-height: 24px; 
    text-decoration-line: underline;
    color: #3470FF;
    &:hover,
    &:focus {
        color: #0B44CD;
    }
}

.noData {
    font-family: map-get($fonts, sb), sans-serif;
    font-size: 20px;
    line-height: 24px; 
    color: #fd0000;
    text-align: center;
    margin-bottom: 150px;
}

.dashbordEmptyContainer {
    position: relative;
    height: 100vh; 
    background-color: #4b0a0a;
    background-image: url('https://res.cloudinary.com/ditdqzoio/image/upload/v1687252635/cars/bmw_z8.jpg'); 
    background-size: cover;
    background-position: center;
}

.homeOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
}

.dashbordNote {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 3rem;
    margin-bottom: 20px;
}

.dashbordEmptyNavigation {
    position: absolute;
    top: -100;
    right: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 600px;
    font-family: map-get($fonts, m), sans-serif;
    font-size: 17px;
    line-height: 20px;
    letter-spacing:0rlh;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    white-space: nowrap;
    color: #ffffffa8;
    border-radius: 12px;
    transition: $transition;
    background: linear-gradient(to bottom, rgba(0, 255, 0, 0), #0c43c4); 
    &:hover,
    &:focus {
        color: #ffffffd2;
        background-color: #0c43c485;
    }
}