.dashbordContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dashbordList {
    margin-bottom: 100px;
    display: flex;
    gap: 29px;
    flex-wrap: wrap;
    justify-content: center;
}

.listCard {
    position: relative;
    width: 274px;
    height: 426px;
}

.pictureContainer {
    width: 274px;
    height: 268px;
}

.picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 14px;
}

.iconHeartBtn {
    position: absolute;
    top: 14px;
    right: 35px;
    width: 0;
    height: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    border: none; 
}

.cardHeaderPrice {
    display: flex;
    justify-content: space-between;
    margin-top: 14px;
    margin-bottom: 8px;
    padding-right: 9px;
    font-family: map-get($fonts, m), sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #121417; 
}

.cardDesc{
    font-family: map-get($fonts, r), sans-serif;
    font-size: 12px;
    line-height: 18px;
    color: rgba(18, 20, 23, 0.5);
    margin-bottom: 28px;

    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.learnMoreBtn {
    width: 274px;
    height: 44px;
    font-family: map-get($fonts, sb), sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    border-color: transparent;
    border-radius: 12px;
    background-color: #3470FF;
    &:hover,
    &:focus {
        background-color: #0B44CD;
    }
}

.loadMoreBtn {
    margin-bottom: 70px;
    background-color: transparent;
    border-color: transparent;
    font-family: map-get($fonts, m), sans-serif;
    font-size: 16px;
    line-height: 24px; 
    text-decoration-line: underline;
    color: #3470FF;
    &:hover,
    &:focus {
        color: #0B44CD;
    }
}

.noData {
    font-family: map-get($fonts, sb), sans-serif;
    font-size: 20px;
    line-height: 24px; 
    color: #fd0000;
    text-align: center;
    margin-bottom: 150px;
}

.dashbordEmptyContainer {
    position: relative;
    height: 100vh; 
    background-color: #4b0a0a;
    background-image: url('https://res.cloudinary.com/ditdqzoio/image/upload/v1687252635/cars/bmw_z8.jpg'); 
    background-size: cover;
    background-position: center;
}

.homeOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
}

.dashbordNote {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 3rem;
    margin-bottom: 20px;
}

.dashbordEmptyNavigation {
    position: absolute;
    top: -100;
    right: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 600px;
    font-family: map-get($fonts, m), sans-serif;
    font-size: 17px;
    line-height: 20px;
    letter-spacing:0rlh;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    white-space: nowrap;
    color: #ffffffa8;
    border-radius: 12px;
    transition: $transition;
    background: linear-gradient(to bottom, rgba(0, 255, 0, 0), #0c43c4); 
    &:hover,
    &:focus {
        color: #ffffffd2;
        background-color: #0c43c485;
    }
}