.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
  }
  
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .closebtn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 14px;
    right: 14px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: $transition;
    border-radius: 50%;
    z-index: 3;
    &:hover,
    &:focus {
      transform: scale(1.2);
      background-color: #d6def3;
    }
  }
  
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    stroke: #121417;
  }