.sidebarContainer {
    position: relative;
    width: 860px;
    height: 74px;
    margin: 30px auto 30px auto;
}

.sidebarIcon {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: map-get($fonts, m), sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #8A8A89;
    border: none;
    background-color: transparent;
    border: none;
    fill: transparent;
    stroke: currentColor;  
    transition: $transition;
  &:hover,
  &:focus {
    transform: scale(1.1);
  }  
}

.sidebarIconLeftBtn {
    top: 40px;
    left: -150px;
    stroke: #3470FF; 
    transition: $transition;
  &:hover,
  &:focus {
    stroke: #0B44CD;
  }   
}

.sidebarIconRightBtn {
    top: 20px;
    right: -100px;
    stroke: #3470FF; 
    transition: $transition;
  &:hover,
  &:focus {
    stroke: #0B44CD;
  }   
}

.sidebarForm {
    width: 100%;
    height: 100%;
}

.inputContainer {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    margin-right: 18px;
}

.label {
    font-family: map-get($fonts, m), sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #8A8A89;
}

.input {
    height: 48px;
    padding: 14px 18px;
    font-family: map-get($fonts, m), sans-serif;
    font-size: 18px;
    line-height: 20px;
    border-color: transparent;
    background-color: #F7F7FB;
    &::placeholder {
        color: #121417;
    }
}

.customBrandInput {
    width: 224px;
    border-radius: 14px;
}

.customPriceInput {
    width: 125px;
    border-radius: 14px;
}

.inputMileageContainer {
    display: flex;
    flex-direction: row;
}

.customMileageInputLeft {
    width: 160px;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    border-right: 1px solid rgba(138, 138, 137, 0.2);
}

.customMileageInputRight {
    width: 160px;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
}

.iconBtn {
    position: absolute;
    top: 32px;
    right: 32px;
    width: 0;
    height: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    border: none;
    fill: transparent;
    stroke: currentColor;  
    transition: $transition;
      &:hover,
      &:focus {
        transform: scale(1.1);
      }
}

.dropdown {
    margin-top: 5px;
    padding: 14px 18px;
    border: 1px solid #dddde6;
    border-radius: 14px;
    background-color: #FFFFFF;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1;
}

.bransList {
    width: 224px;
    max-height: 272px;
}

.pricesList {
    width: 125px;
    max-height: 188px;
}

.listItem {
    width: 188px;
    font-family: map-get($fonts, m), sans-serif;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    color: rgba(18, 20, 23, 0.2);
    transition: $transition;
    &:not(:last-child) {
        margin-bottom: 8px;  
    }
    &:hover,
    &:focus {
      color: #121417;
    }
}

.bransListItem {
    width: 188px;
}

.pricesListItem {
    width: 89px;
}

.submitBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-35%);
    -ms-transform: translateY(-35%);
    width: 136px;
    height: 48px;
    font-family: map-get($fonts, sb), sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    border-color: transparent;
    border-radius: 12px;
    background-color: #3470FF;
    &:hover,
    &:focus {
        background-color: #0B44CD;
    }
}