@font-face {
    font-family: 'Manrope-Regular';
    font-style: normal;
    font-weight: normal; // 400
    src: url('../../fonts/Manrope-Regular.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'Manrope-Medium';
    font-style: normal;
    font-weight: 500;
    src: url('../../fonts/Manrope-Medium.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'Manrope-SemiBold';
    font-style: normal;
    font-weight: 600;
    src: url('../../fonts/Manrope-SemiBold.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Montserrat-Regular';
    font-style: normal;
    font-weight: normal; // 400
    src: url('../../fonts/Montserrat-Regular.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Montserrat-SemiBold';
    font-style: normal;
    font-weight: 600; 
    src: url('../../fonts/Montserrat-Regular.woff2') format('woff2');
  }
