@font-face {
    font-family: 'Manrope-Regular';
    font-style: normal;
    font-weight: normal; // 400
    src: url('../../fonts/Manrope-Regular.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'Manrope-Medium';
    font-style: normal;
    font-weight: 500;
    src: url('../../fonts/Manrope-Medium.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'Manrope-SemiBold';
    font-style: normal;
    font-weight: 600;
    src: url('../../fonts/Manrope-SemiBold.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Montserrat-Regular';
    font-style: normal;
    font-weight: normal; // 400
    src: url('../../fonts/Montserrat-Regular.woff2') format('woff2');
  }

  // Верхній сірий ряд:    8A8A89   Manrope  m  fs: 14    lh: 18
  // Поле вибору:   121417  Manrope  m  fs: 18    lh: 20
  // Випадаюче меню:  rgba(18, 20, 23, 0.2)  (обраний: 121417) Manrope  m  fs: 16    lh: 20
  // кнопка: FFFFFF Manrope  sb  fs: 14    lh: 20
  // назва авто і рік/ дол.: 121417  (акцент: 3470FF) Manrope  m  fs: 16    lh: 24
  // підписи: rgba(18, 20, 23, 0.5)  Manrope  r  fs: 12    lh: 18
  // loadMore: 3470FF Manrope  m  fs: 16    lh: 24
  // модальне вікно: Montserrat r
